@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;700&display=swap');

/* MAIN CONDITIONS */

:root {
    --main-color: #d4c4b4;
    --main-color-trans: #d4c4b41f;
    --second-color: #998776;
    --light-text: #c7c7c7;
    --light-text-2: #787878;
    --white-shadow: #e4e4e4;
    --white-shadow-2: #f5f5f5;
    --transition: .3s;
    --box-shadow: #0000001f 0px 4px 12px;
}

body {
    font-family: 'Sofia Sans', sans-serif;
}

.main-title {
    position: relative;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    margin: 30px 0 60px;
}

.main-title::before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -20px;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--white-shadow);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main-title::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -23px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 3px solid var(--main-color);
    background-color: white;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* NAVBAR */

.navbar {
    position: relative;
}

.navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-links a {
    margin: 0 8px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.navbar-links a:hover {
    color: var(--main-color);
}

.navbar-links i {
    font-size: 19px;
}

.navbar-logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.navbar-logo-image {
    width: 30px;
}

/* LANDING */

.landing {
    max-height: calc(100vh - 90px);
}

@media (max-width: 768px) {
    .landing {
        max-height: fit-content;
    }
}

.landing-title {
    line-height: 1.4;
    font-weight: 300;
    text-align: center;
    padding: 40px 0 60px;
}

.landing-title::first-line {
    font-weight: bold;
}

.landing-content {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-grid-columns: 290px 400px 290px;
    grid-template-columns: 290px 400px 290px;
    padding-bottom: 50px;
}

@media (max-width: 1200px) {
    .landing-content {
        -ms-grid-columns: 200px 400px 200px;
        grid-template-columns: 200px 400px 200px;
    }
}

@media (max-width: 991px) {
    .landing-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .landing-content {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.landing-section:last-of-type {
    text-align: right;
}

@media (max-width: 991px) {
    .landing-section:last-of-type {
        margin-top: 40px;
    }
}

@media (max-width: 992px) {
    .landing-category {
        text-align: center;
    }
}

.landing-category-title {
    font-size: 15px;
    text-transform: uppercase;
    color: var(--light-text);
}

@media (min-width: 991px) {
    .landing-category-list {
        padding-left: 20px;
    }

    .landing-category-list li {
        list-style: circle;
    }
}

.landing-category-list,
.landing-category-description {
    line-height: 1.4;
    margin-top: 5px;
    font-size: 18px;
}

@media (max-width: 992px) {

    .landing-category-list,
    .landing-category-description {
        padding: 0 50px;
    }
}


.landing-section p.large {
    font-size: 40px;
}

.landing-category:not(:last-of-type) {
    margin-bottom: 40px;
}

.landing-picture {
    position: relative;
    height: 400px;
    width: 400px;
    margin: 20px;
    border-radius: 1200px;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    cursor: url("../images/logos/logo-white.svg"), auto;
    background: -o-linear-gradient(135deg, #fef0ff, #d6ddd8);
    background: linear-gradient(-45deg, #fef0ff, #d6ddd8);
}

@media (max-width: 768px) {
    .landing-picture {
        width: 70vw;
        height: calc(100vh - 350px);
    }
}

@media (max-width: 991px) {
    .landing-picture {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        margin: auto;
        margin-bottom: 100px;
    }
}

.landing-picture::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    pointer-events: none;
    border-radius: 400px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid var(--main-color);
}

.landing-picture img {
    border-radius: 1200px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

/* PROJECTS */

.projects .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 50px;
}

.slider-items {
    overflow: hidden;
    width: calc((250px * 3) + (70px * 2));
}

.slider-items-container {
    display: -ms-grid;
    display: grid;
    gap: 70px;
    -ms-grid-rows: 300px;
    grid-template-rows: 300px;
    -ms-grid-columns: 250px 70px 250px 70px 250px;
    grid-template-columns: repeat(3, 250px);
    grid-auto-flow: column;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.slider-items-container>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.slider-items-container>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.slider-items-container>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}



@media (max-width: 992px) {
    .slider-items-container {
        -ms-grid-columns: (250px)[2];
        grid-template-columns: repeat(2, 250px);
    }
}

@media (max-width: 768px) {
    .slider-items-container {
        -ms-grid-columns: 250px;
        grid-template-columns: 250px;
    }
}

.slider-item {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    background-color: var(--white-shadow-2);
}

@media (max-width: 992px) {
    .slider-items {
        width: calc((250px * 2) + 70px);
    }
}

@media (max-width: 768px) {
    .slider-items {
        width: 250px;
    }
}

.slider-item-description {
    font-size: 13px;
    color: var(--light-text);
}

.slider-item-title {
    font-size: 20px;
    font-weight: normal;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

[empty] .slider-item-description,
[empty] .slider-item-title {
    position: absolute;
    display: block;
    border-radius: 5px;
    background-color: var(--white-shadow-2);
}

[empty] .slider-item-description {
    bottom: -20px;
    width: 100px;
    height: 10px;
}

[empty] .slider-item-title {
    bottom: -45px;
    width: 200px;
    height: 18px;
}

.slider-image {
    border-radius: 5px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.slider-item-overlay {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    color: white;
    padding: 0 30px;
    border-radius: 5px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    background-color: rgba(0, 0, 0, .6);
}

@media (max-width: 992px) {
    .slider-item-overlay {
        opacity: 1;
    }
}

.slider-item:hover .slider-item-overlay {
    opacity: 1;
}

.slider-item-overlay-title,
.slider-item-overlay-description,
.slider-item-overlay-date {
    margin: 3px 0;
}

.slider-item-overlay-description {
    font-weight: 300;
    text-align: center;
}

.slider-item-link {
    padding: 6px 20px;
    margin: 15px 0;
    text-align: center;
    border-radius: 3px;
    color: var(--main-color);
    background-color: white;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.slider-item-link[disabled] {
    cursor: default;
    opacity: .8;
}

.slider-item-link:first-of-type {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
}

.slider-item-link:not([disabled]):hover {
    color: white;
    background-color: var(--main-color);
}

.slider-controls {
    margin-top: 20px;
    text-align: center;
}

.slider-controls button {
    width: 8px;
    height: 8px;
    margin: 0 3px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    background-color: var(--white-shadow);
}

.slider-controls button.active {
    background-color: var(--main-color);
}

/* ADVANTAGES */

.advantages .container {
    position: relative;
    padding-bottom: 50px;
}

@media (min-width: 767px) {
    .advantages .container {
        padding-top: 50px;
    }

    .advantages .container::before {
        position: absolute;
        content: "";
        top: 20px;
        left: 0;
        height: 3px;
        width: 100%;
        border-radius: 5px;
        background-color: var(--white-shadow);
    }
}

.advantages-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
}

@media (max-width: 767px) {
    .advantages-content {
        display: -ms-grid;
        display: grid;
        padding: 0 30px;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }
}

.advantages-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.advantages-item::before {
    position: absolute;
    content: "";
    top: -32px;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: var(--main-color);
    -webkit-box-shadow: 0 0 0 4px var(--main-color-trans);
    box-shadow: 0 0 0 4px var(--main-color-trans);
}

@media (max-width: 767px) {
    .advantages-item {
        width: 100%;
        height: 50px;
        padding: 10px;
        overflow: hidden;
        border-radius: 5px;
        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
        background: -webkit-gradient(linear, left top, right top, from(var(--main-color)), to(var(--second-color)));
        background: -o-linear-gradient(left, var(--main-color), var(--second-color));
        background: linear-gradient(to right, var(--main-color), var(--second-color));
    }

    .advantages-item::before {
        left: 0;
        top: 0;
        height: 100%;
        width: 7px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        background-color: var(--second-color);
    }

    .advantages-item:after {
        color: white;
        content: attr(name);
        font-weight: bold;
    }
}

.advantages-item-image {
    width: 100%;
}

@media (max-width: 767px) {
    .advantages-item-image {
        display: none;
    }
}

/* TIMELINE */

.timeline .container {
    position: relative;
    margin-bottom: 50px;
}

.timeline .container::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 3px;
    height: 100%;
    border-radius: 5px;
    background-color: var(--white-shadow);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.timeline .container::after {
    position: absolute;
    content: "";
    bottom: -15px;
    left: 50%;
    width: 3px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--main-color);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media (max-width: 767px) {
    .timeline .container::before {
        left: 30px;
    }

    .timeline .container::after {
        position: absolute;
        content: "";
        bottom: -15px;
        left: 30px;
        width: 3px;
        height: 10px;
        border-radius: 5px;
        background-color: var(--main-color);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.timeline-item {}

@media (min-width: 768px) {
    .timeline-item {
        position: relative;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}

.timeline-item>* {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px 40px;
}

.timeline-item-details {
    position: relative;
}

@media (min-width: 768px) {
    .timeline-item:nth-child(even) .timeline-item-details {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

.timeline-item-details-shape {
    position: absolute;
    top: 0;
    max-height: 200px;
    pointer-events: none;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

@media (max-width: 767px) {
    .timeline-item-details-shape {
        right: 10%;
    }
}

@media (min-width: 768px) {
    .timeline-item:nth-child(odd) .timeline-item-details-shape {
        right: 10%;
    }

    .timeline-item:nth-child(even) .timeline-item-details-shape {
        left: 10%;
    }
}

.timeline-item-details-date {
    position: relative;
    display: block;
    color: white;
    font-weight: 300;
    padding: 8px 20px;
    margin: auto;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    border-radius: 20px;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

@media (max-width: 767px) {
    .timeline-item-details-date {
        margin-left: 0;
        background: -webkit-gradient(linear, left top, right top, from(var(--main-color)), to(var(--second-color)));
        background: -o-linear-gradient(left, var(--main-color), var(--second-color));
        background: linear-gradient(to right, var(--main-color), var(--second-color));
    }
}

@media (min-width: 768px) {
    .timeline-item:nth-child(odd) .timeline-item-details-date {
        margin-right: 0;
        background: -webkit-gradient(linear, left top, right top, from(var(--main-color)), to(var(--second-color)));
        background: -o-linear-gradient(left, var(--main-color), var(--second-color));
        background: linear-gradient(to right, var(--main-color), var(--second-color));
    }

    .timeline-item:nth-child(even) .timeline-item-details-date {
        margin-left: 0;
        background: -webkit-gradient(linear, right top, left top, from(var(--main-color)), to(var(--second-color)));
        background: -o-linear-gradient(right, var(--main-color), var(--second-color));
        background: linear-gradient(to left, var(--main-color), var(--second-color));
    }
}

.timeline-item-details::before {
    position: absolute;
    content: "";
    top: 50%;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 0 4px var(--main-color-trans);
    box-shadow: 0 0 0 4px var(--main-color-trans);
    background-color: var(--main-color);
}

@media (max-width: 767px) {
    .timeline-item-details::before {
        left: 0;
        -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }
}

@media (min-width: 768px) {
    .timeline-item:nth-child(odd) .timeline-item-details::before {
        right: 0;
        -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }

    .timeline-item:nth-child(even) .timeline-item-details::before {
        left: 0;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.timeline-item-content {
    padding: 20px 40px;
}

@media (min-width: 768px) {
    .timeline-item:nth-child(even) .timeline-item-content {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        text-align: end;
    }
}

.timeline-item-content-title {
    font-size: 18px;
    color: var(--second-color);
}

.timeline-item-content-title:after {
    content: '( ' attr(placeholder) ' )';
    font-size: 14px;
    margin-left: 10px;
    color: var(--main-color);
}

.timeline-item-content-frame {
    position: relative;
    margin: 20px 0;
    padding: 20px;
    min-height: 140px;
    border-radius: 5px;
    font-weight: 300;
    text-transform: capitalize;
    color: var(--light-text-2);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    background-color: white;
}

.timeline-item-content-frame:has(.timeline-item-content-frame-link) {
    padding-bottom: 60px
}

.timeline-item-content-frame-shape {
    position: absolute;
    top: 50%;
    height: 90%;
    pointer-events: none;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .timeline-item-content-frame-shape {
        right: 0;
    }
}

@media (min-width: 768px) {
    .timeline-item:nth-child(odd) .timeline-item-content-frame-shape {
        right: 0;
    }

    .timeline-item:nth-child(even) .timeline-item-content-frame-shape {
        left: 0;
    }
}

.timeline-item-content-frame-link {
    position: absolute;
    bottom: 15px;
    color: var(--second-color);
    padding: 3px 20px;
    border-radius: 5px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    border: 1px solid var(--main-color);
}

.timeline-item:nth-child(even) .timeline-item-content-frame-link {
    right: 20px;
}

@media (min-width: 768px) {
    .timeline-item:nth-child(even) .timeline-item-content-frame-link {
        right: 20px;
    }
}

.timeline-item-content-frame-link:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}